
$background: rgba(243, 245, 246, 1.0);
$white     : rgba(251, 251, 251, 1.0);
$footer    : rgba(31, 32, 34, 1.0);

$black     : rgba(31, 31, 31, 1.0);
$grey      : rgba(72, 72, 72, 1.0);
$red500    : rgba(212, 69, 57, 1.0);
$blue500   : rgba(89, 149, 240, 1.0);
$purple500 : rgba(134, 43, 171, 1.0);
$green500  : rgba(115, 174, 87, 1.0);
$orange500 : rgba(231, 151, 35, 1.0);
$yellow500 : rgba(249, 234, 79, 1.0);

$button    : rgba(252, 45, 35, 1.0);
$brand     : rgba(220, 104, 23, 1.0);
$shadow    : rgba(99, 99, 99, 0.3);
$close     : rgba(200, 200, 200, 1.0);
