/*=============================================
=                 MEDIA QUERIES               =
=============================================*/


/* -- BREAK 1 -- */

@media only screen and (max-width: 600px) {
    .temp {
        top: 14px;
        right: 16px;
    }

    footer {
        height: 10px;
        line-height: 10px;
        padding: 0;
}
}