
/*====== TYPOGRAPHY =======*/

* {
	font-family: "Open Sans";
	color: white;
}

h1 {
	font-size: 1.5em;
	font-family: "Open Sans";
	font-weight: 200;
}

h1 span {
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-family: "Open Sans";
	font-weight: 200;
	padding-bottom: 20px;
}

h2 span {
	font-weight: 700;
}

p, a{
	font-size: 1.8rem;
	font-family: "Open Sans";
	font-weight: 200;
	padding-bottom: 15px;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;

	&:hover {
		color: white;
	}
}

p span {
	font-family: helvetica;
	font-size: 1.2em;
	font-weight: 400;
}

h4 {
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight: 400;
	text-align: right;
}

footer p {
	font-family: "Open Sans";
	font-size: 0.9em;
	padding-top: 14px;
	font-weight: 300;
	strong {
		color: white;
	}
}

.built a,
strong {
	padding: 0;
	margin: 0;
	font-size: 0.8rem;
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;


&:hover {
	text-decoration: underline;
}
}

.large {
	font-size: 240px;
}

.fa-free-code-camp {
	padding: 0 5px 0 0;
	color:   white;
}

.fa-heart {
	font-size: 12px;
	color: #fc2d23;
}
