
/*====== TYPOGRAPHY =======*/

* {
	color: #1f1f1f;
	font-family: "Open Sans";
}

h1 {
	font-size: 1.5em;
	font-family: "Open Sans";
	font-weight: 200;
	color: #1f1f1f;
}

h1 span {
	color: #1f1f1f;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-family: "Open Sans";
	font-weight: 200;
	color: #1f1f1f;
	padding-bottom: 20px;
}

h2 span {
	color: #1f1f1f;
	font-weight: 700;
}

p {
	font-size: 1.8em;
	font-family: "Open Sans";
	font-weight: 200;
	color: #2f2f2f;
	padding-bottom: 15px;
	strong {
	color: #2e2e2e;
	}
}

p span {
	font-family: helvetica;
	color: #444;
	font-size: 1.2em;
	font-weight: 400;
}

h4 {
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight: 400;
	text-align: right;
	em {

  font-style: italic;
		color: #6f6f6f;
	}
}

footer p {
	font-family: "Open Sans";
	font-size: 0.9em;
	padding-top: 14px;
	font-weight: 300;
	strong {
		color: white;
	}
}

a {
	font-size: 1em;
}

.built a,
strong {
	padding: 0;
	margin: 0;
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

a:hover {
	text-decoration: underline;
}

i {
	color: #1f1f1f;
}


.large {
	font-size: 240px;
}



.fa-heart {
	font-size: 12px;
	color: #fc2d23;
}